.cart-left {
  width: 90px;
  height: 100%;
  float: left;
  position: relative;
}
.cart-left li {
  width: 90px;
  height: 50x;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  background-color: pink;
}
.cart-left li.active {
  background-color: #fff;
  border-right: none;
}
.cart-right {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.cart-right li {
  width: 33.33%;
  float: left;
}
.cart-right li img {
  width: 62px;
  height: 62px;
  margin: 0 auto;
}
.cart-right li p {
  text-align: center;
}
